.campotexto label{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    padding: 10px;

    color: #D9D9D9;
}

.campotexto input {
    width: 500px;
    height: 45px;
    border-radius: 20px;
    background-color:#8C8C8C;
    border: none;
    text-align: center;
    color: #363801;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    outline: none;
    overflow:hidden;
    white-space: nowrap;;
    
}

.campotexto input::placeholder{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-align: start;
}
.campotexto input:focus::placeholder{
    transform: translateY(70px);
    transition: .5s;
}
.campotexto input:not(:focus)::placeholder {
     transform:translateX(70px);
     transition: .5s;
}